name: "Terragrunt Pipeline"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  terragrunt-plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          # Use the secret we created in the GitHub UI
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Setup Terragrunt
        uses: autero1/action-terragrunt@v3
        with:
          terragrunt-version: 0.54.0
      
      - name: Plan Hub OIDC
        env:
          TERRAGRUNT_TFPATH: terraform
        run: |
          cd environments/automation/iam-oidc
          terragrunt plan --terragrunt-non-interactive

      - name: Plan Dev VPC
        env:
          TERRAGRUNT_TFPATH: terraform
        run: |
          cd environments/dev/vpc
          terragrunt plan --terragrunt-non-interactive

      - name: Plan Dev S3
        env:
          TERRAGRUNT_TFPATH: terraform
        run: |
          cd environments/dev/s3
          terragrunt plan --terragrunt-non-interactive
